 El volumen de la unidad C no tiene etiqueta.
 El n£mero de serie del volumen es: A266-B21B

 Directorio de C:\Users\Daniel\Desktop\GitTest

30/04/2017  01:53    <DIR>          .
30/04/2017  01:53    <DIR>          ..
30/04/2017  01:53                 0 borrar.txt
30/04/2017  01:38               237 index.php
               2 archivos            237 bytes
               2 dirs  27.256.299.520 bytes libres
